<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>This is the edit page</h1>
  <form action="/{{ u_id }}/update">
    First Name: <input type="text" name="first_name" value="{{ user['first_name'] }}">
    Last Name: <input type="text" name="last_name" value="{{ user['last_name'] }}">
    Email: <input type="text" name="email" value="{{ user['email'] }}">
    <input type="submit" value="Edit User">
  </form>
</body>
</html>